@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.nav-link{
    color: #fff;

}
.nav-brand{
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}





main{
    width: 100%;
    height: auto;
    background-color: #313131;
}
main .row{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px #444 solid;
    background-color: #353b48;
}
main .container{
    width: 80%;
    height: auto;
    margin: 0px 10%;
}
.container .ehnii{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ehnii .ner, .zurg{
    width: 50%;
    height: auto;
}
.ehnii .ner{
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
}
.ehnii .ner h4{
    color: rgb(194, 188, 188);
}
.ehnii .ner h1{
    font-size: 45px;
    width: 100%;
    color: #0385f7;
    letter-spacing: 2px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}
.ehnii .ner h1 span{
    cursor: pointer;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ehnii .ner h1 span:hover{
    animation: text 0.6s ease infinite;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ehnii .ner h4 span{
    cursor: pointer;
    display: inline-block
}
.ehnii .ner h4 span:hover{
    animation: text 0.6s ease infinite;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes text{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.6);
    }
    75%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}
.ehnii .ner .hello{
    margin-top: 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
}
.ehnii .ner .freehand{
    font-family: 'Pacifico',sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 20px;
}
.ehnii .zurg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.btn-grad button{
    padding: 10px 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: 300ms;
    color: #222;
    border: 2px solid aqua;
    box-shadow: 0 0 20px aqua,0 0 0px aqua;
    margin-bottom: 30px;
}
.btn-grad button:hover{
    color: #fff;
    border: 2px solid aqua;
    background: aqua;
    box-shadow: 0 0 20px aqua,0 0 40px aqua;
}




/*container2*/

main .container2{
    width: 80%;
    height: auto;
    margin: 0px 10%;
    border-bottom: 1px #444 solid;
}
.container2 .hoyr{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.hoyr .photo{
    width: 50%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.hoyr .photo img{
    width: 90%;
    height: auto;
    object-fit: cover;
    transition: 2s ease-in-out;
    padding-right: 10px;
}
.hoyr .photo:hover img{
    width: 90%;
    transform: scale(1.1);
}
.hoyr .text{
    width: 50%;
    height: auto;
    color: #fff;

}
.text h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    height: 45px;
    background: -webkit-linear-gradient(140deg, #FC5C7D, #6A82FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 0px;
}
.text h1 span{
    cursor: pointer;
    display: inline-block
}
.text h1 span:hover{
    animation: text 0.6s ease infinite;
    background: -webkit-linear-gradient(0deg, #ff0000, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text p{
    padding-bottom: 20px;
}
.text h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-right: 5px;
    display: inline-block;
    height: 25px;
    letter-spacing: 0.5px;
    background: -webkit-linear-gradient(140deg, #FC5C7D, #6A82FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*interest*/
.interest{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.interest h2 {
    width: 100%;
    height: auto;
    color: #fff;
    font-family: 'Pacifico',sans-serif;
    letter-spacing: 3px;
    font-size: 35px;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.interest h2 span{
    cursor: pointer;
    display: inline-block
}
.interest h2 span:hover{
    animation: text 0.6s ease infinite;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hobby-icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
}
.hobby-icon div{
    width: 20%;
    text-align: center;
    color: #fff;
    height: auto;
    padding-top: 10px;
}
.hobby-icon div i{
    padding:  20px;
    border-radius: 50%;
    font-size: 25px;
}



.hobby-icon div i{
    font-size: 25px;
    color: #fff;
    padding: 20px;
    box-shadow:0px 0px 0px 0px rgb(0, 247, 255);
    animation: animate 5s linear infinite;
    border-radius: 50%;
    text-shadow: aqua 2px 2px 3px;
    border: 2px solid aqua;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.hobby-icon i:hover{
    background-color: aqua;
    font-size: 25px;
    transition: 0.3s ease-in;
    text-shadow: black 1px 2px 3px;
    box-shadow:0px 0px 20px 0px rgb(0, 247, 255),0px 0px 40px 0px rgb(0, 247, 255);
}



main .container3{
    width: 80%;
    height: auto;
    margin: 0px 10%;
    margin-bottom: 50px;
}
.skills{
    width: 70%;
    margin: 0px 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.skills h1 {
    width: 100%;
    height: auto;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 3px;
    font-size: 35px;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills h1 span{
    cursor: pointer;
    display: inline-block;
}
.skills h1 span:hover{
    animation: text 0.6s ease infinite;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills li h3 {
    width: 100%;
    height: auto;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills li h3 span{
    cursor: pointer;
    display: inline-block;
}
.skills li h3 span:hover{
    animation: text 0.6s ease infinite;
    background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills li{
    margin: 20px 0px;
    list-style: none;
}
.bar{
    background-color: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height: 2px;
    float: left;
    background-color: #2187e7;
}
.html{
    width: 90%;
    animation: html 2s ;
}
.css{
    width: 65%;
    animation: css 2s ;
}
.scss{
    width: 74%;
    animation: scss 2s;
}
.java{
    width: 85%;
    animation: java 2s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}@keyframes scss{
    0%{
        width: 0%;
    }
    100%{
        width: 74%;
    }
}@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}



/*footer*/

.footer-outside{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #353b48;
}
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-width: 100px;
    padding:  20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu-ft{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
footer .social_icon li,
footer .menu-ft li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu-ft li a{
    font-size: 1.5em;
    color: #fff;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu-ft li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}



footer .wave{
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animationWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animationWave_02 3s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animationWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animationWave_02 4s linear infinite;
}
@keyframes animationWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animationWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}


    /*section-menu*/

    /*card */
    .container-box{
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 80px;
    }
    .container-box .zurg{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: auto;
    }
    .container-box .zurg{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .container-box .zurg .box{
        position: relative;
        width: 31% !important;
        height: 400px;
        background: #444;
        margin: 0 20px;
        border-radius: 20px;
        background: linear-gradient(45deg, #2da2ff 25%, #444 25%,
         #444 50%, #2da2ff 50%, #2da2ff 75%, #444 75%, #444 100%);
        background-size: 40px 40px;
        filter: grayscale(1);
        animation: animateBg 1.2s linear infinite;
        animation-play-state: paused;
        transition: filter 1s;
        display: flex;
        justify-content: center;
        -webkit-box-reflect: below 1px  transparent;
    } 
    .container-box .zurg .box:nth-child(2){
        background: linear-gradient(300deg, rgb(0, 255, 242) 25%, #444 25%,
        #444 50%, rgb(5, 198, 247) 50%, rgb(0, 247, 255) 75%, #444 75%, #444 100%);
        background-size: 40px 40px;
    }
    .container-box .zurg .box:nth-child(3){
        background: linear-gradient(135deg, #2da2ff 25%, #444 25%,
        #444 50%, #2da2ff 50%, #2da2ff 75%, #444 75%, #444 100%);
        background-size: 40px 40px;
    }
    .container-box .zurg .box:hover{
        animation-play-state: running;
        filter: grayscale(0);
    }
    .container-box .box img{
        position: absolute;
        bottom: 0;
        height: 90%;
        transition: height 0.5s;
        z-index: 999;
    }
    .container-box .box:hover img{
        height: 120%;
        z-index: 999;
    }
    @keyframes animateBg{
        0%{
            background-position: 0;
        }
        0%{
            background-position: 40px;
        }
    }
    @media screen and  (max-width:1000px) {
        .container-box .zurg{
            flex-wrap: wrap;
            justify-content: center;
        }
        .container-box .zurg .box{
            text-align: center;
            width: 60% !important;
            margin-bottom: 90px;
        }
    }
    @media screen and  (max-width:700px) {
        .container-box .zurg{
            flex-wrap: wrap;
            justify-content: center;
        }
        .container-box .zurg .box{
            text-align: center;
            width: 80% !important;
            margin-bottom: 90px;
        }
    }
    @media screen and  (max-width:550px) {
        .container-box .zurg{
            flex-wrap: wrap;
            justify-content: center;
        }
        .container-box .zurg .box{
            text-align: center;
            width: 90% !important;
            margin-bottom: 90px;
        }
    }






    #pills-profile .garchig h2{
        width: 100%;
        height: auto;
        color: #fff;
        font-family: 'Pacifico',sans-serif;
        letter-spacing: 3px;
        font-size: 35px;
        background: -webkit-linear-gradient(
    140deg, #2bff00, #00d0ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #pills-profile .garchig h2 span:hover{
        animation: text 0.6s ease infinite;
        background: -webkit-linear-gradient(140deg, #2bff00, #00d0ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #pills-profile .garchig h2 span{
        cursor: pointer;
        display: inline-block;
    }
    #pills-profile .card-flex{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    #pills-profile .card{
        position: relative;
        width: 30%;
        height: 300px;
        margin: 15px;
        overflow: hidden;
    }

    .container .card .imgbx,
    .container .card .contentbx{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .card .imgbx img{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card .contentbx::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: 0.5s;
        transform: scaleY(0);
        transition: transform 0.5s ease-in-out;
        transform-origin:right;
    }
    .card:hover .contentbx::before{
        transform: scaleY(1);
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
    }
    .card:hover .contentbx{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card .contentbx .content{
        position: relative;
        padding: 30px;
        z-index: 1;
        transition: 0.5s;
        transform: translateX(-300px);
    }
    .card:hover .contentbx .content{
        transform: translateX(0px);
    }
    .card:hover .contentbx .content h3{
        font-size: 1.3em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .card:hover .contentbx .content p{
        font-size: 1em;
        line-height: 1.4em;
        font-weight: 300;
    }
    
    @media screen and (max-width:1100px) {
        #pills-profile .card{
            width: 40%;
        }
        .card .contentbx .content p span{
            display: none;
        }
        
    }
    @media screen and (max-width:550px) {
        #pills-profile .card{
            width: 80%;
        }
        #pills-profile .garchig h2{
            font-size: 30px;
        }
    }
    @media screen and (max-width:460px){
        #pills-profile .garchig h2{
            font-size: 25px;
        } 
    }
    @media screen and (max-width:400px){
        #pills-profile .garchig h2{
            font-size: 20px;
        } 
    }

html{
    scroll-behavior: smooth;
}



/*container-text*/

.card-con{
    padding: 30px 0px;
    width: 100%;
    height: auto;
    background: #353b48;
    border-bottom: 1px solid #666;
}
.card-con .container-text{
    width: 80%;
    height: auto;
    margin: 0px 10%;
}
.container-text .container-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-flex .box{
    position: relative;
    width: 31%;
    height: auto;
    padding: 100px 40px 60px;
    background-color: #fff;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.container-flex .box::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ff226d;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.container-flex .box:hover:before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.container-flex .box h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.container-flex .box:hover h2{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px );
}
.container-flex .box h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #313131;
    transition: 0.5s;
}
.container-flex .box p{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}
.container-flex .box:hover h3,
.container-flex .box:hover p{
    color: #fff;
}
@media screen and (max-width:1200px ) {
    .container-flex .box p span{
        display: none;
    }
}
@media screen and (max-width:950px ) {
    .container-text .container-flex{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-flex .box{
        width: 60%;
        margin-bottom: 30px;
    }
    .container-flex .box p span{
        display: block;
    }
}
@media screen and (max-width:800px ) {
    .container-flex .box{
        width: 80%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:580px ) {
    .container-flex .box p span{
        display: none;
    }
}


@media screen and (max-width:1340px ) {
    .hoyr .photo{
        padding-top: 40px;
    }
}
@media screen and (max-width:1230px ) {
    .hoyr .photo{
        padding-top: 80px;
    }
    .ehnii .ner{
        padding-top: 80px;
    }
}
@media screen and (max-width:1030px ){
    .text p{
        display: none;
    }
    .text h1{
        margin-bottom: 20px;
    }
    .hoyr .photo{
        padding-top: 60px;
    }
}
@media screen and (max-width:840px ){
    .ehnii .ner{
        padding-left: 0px;
        padding-top: 50px;
    }
}
@media screen and (max-width:780px ){
    .hoyr .photo{
        padding-top: 80px;
    }
}
@media screen and (max-width:700px ){
    .ehnii .ner, .zurg{
        width: 100%;
    }
    .ehnii .ner{
        text-align: center;
    }


    .container2 .hoyr{
        flex-direction: column-reverse;
    }
    .hoyr .photo{
        width: 100%;
        padding-top: 30px;
    }
    .hoyr .text{
        margin-top: 0px;
        width: 100%;
    }
    .hobby-icon div i{
        font-size: 20px;
        padding: 15px;
    }
    .hobby-icon div i:hover{
        font-size: 20px;
        padding: 15px;
    }
}
@media screen and (max-width:480px) {
    .hobby-icon div i{
        font-size: 18px;
        padding: 15px;
    }
}